/* ================================ Colors ================================== */
/* ==================== */
/* Red */
/* ==================== */
.red {
  color: #FF0000;
}

/* ==================== */
/* Blue */
/* ==================== */
.blue {
  color: #0000FF;
}

/* ==================== */
/* Yellow */
/* ==================== */
.yellow {
  color: #FDFD96;
}

/* ==================== */
/* Green */
/* ==================== */
.green {
  color: #008000;
}

/* ==================== */
/* Orange */
/* ==================== */
.orange {
  color: #FFA500;
}

/* ==================== */
/* Purple */
/* ==================== */
.purple {
  color: #AB274F;
}

/* ================================= Misc =================================== */
/* ==================== */
/* Code highlight color */
/* ==================== */
.remark-code-line-highlighted {
  background-color: #FDFD96;
}

/* ==================== */
/* Two Column Page */
/* ==================== */
.pull-left-mod {
  float: left;
  width: 20%;
}
.pull-right-mod {
  float: right;
  width: 80%;
}

/* ================================== END =================================== */
